body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #E3EBF2;
    font-size: 1.2rem;
    text-align: center;
    background-color: #E9EDEE;
}

header, .container, .nero{
    text-align: left;
}

.logo, .resp{
    width: 100%;
}

.logo{
    background-color: #222F3F;
}

.logo, h1{
    margin-bottom: 0;
}

.imglogo, li, .img {
    margin: 10px;
}

.imglogo{
    width: 9%;
    margin-left: 40px;
}
.altro, .banner, .white, span {
    margin: 40px;
}

nav, aside{
    background-color: #364759;
}

nav, aside, ul{
    margin: 0;
}

li{
    display: inline-block;
}

.altro{
    background-color: #F56502;
}

p{
    padding: 10px;
}

.banner{
    padding: 50px 0 30px 0;
    background-image: url('../img/bg-image.png');
    background-repeat: repeat;
    background-size: auto;
}

nav, .altro, .white, .banner, figure{ 
    margin-bottom: 40px;
}

.size{
    width: 50%;
    margin: auto;
}

.nero{
    color: #1E1E1E;
}

span {
    color: #4E7B93;
}

.white{
    color: #D5D5D5;
    box-shadow: 1px 1px 9px 1px rgb(202, 200, 200), -1px -1px 9px 1px rgb(202, 200, 200);
}

.img{
    height: 430px;
    width: 320px;
    border-radius: 10%;
    margin: 0px 15px 20px 20px;
    box-shadow: 1px 1px 8px 2px gray;
}

figcaption{
    color: #151618;
    font-weight: 400;
}

a:link, a:visited{
    text-decoration: none;
}

.top, nav a{
    color: #E3EBF2;
}

aside, .nero{
    padding: 15px;
}

.imglogo2{
    padding: 60px;
}